<div class="bg-blue-600 h-screen p-4 text-white">
  <mat-accordion>
    <mat-expansion-panel class="bg-transparent">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="text-white">Content</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-white">
        <ul class="list-disc">
          <li>Custom builders</li>
          <li>Rxjs caveats, operators, error handling and recovery</li>
          <li>Data services tips and API contracts and antipatterns</li>
          <li>Angular Material</li>
          <li>Tailwindcss</li>
          <li>View encapsulation</li>
          <li>Dependency Injection Tree</li>
          <li>CDK: Overlays and Portals</li>
          <li>Templates over components</li>
          <li>Reactive forms</li>
        </ul>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="bg-transparent">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="text-white">TODO App</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-white">
        <ul class="list-disc">
          <li>
            <a [routerLink]="['/todos/list']">Go</a>
          </li>
        </ul>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
